/* font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans';
}
a{
  text-decoration: none;
}
header{
  height: 680px;
  display: flex;
  flex-direction:column;
  align-items: center;
  background: url(../img/Header-main.png) center center no-repeat;
}
nav{
  width: 1140px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li{
  list-style-type: none;
}
.header-link{
  color: #fbf9f9;
font-size: 16px;
font-weight: 300;
text-transform: uppercase;
/* Text style for "главная" */
letter-spacing: 0.16px;
}
h2{
  color: #fdfafa;
font-size: 43px;
font-weight: 300;
line-height: 106.67px;
text-transform: uppercase;
margin-top: 40px;
}
h1{
  margin-top: -30px;
  color: #228dfc;
  font-size: 101px;
  font-weight: 400;
  letter-spacing: -1.7px;
  display: flex;
  align-items: flex-end;
  width: 576px;
  justify-content: space-between;
}
.h2-img{
  height: 119px;
}
.time{
  position: relative;
  width: 165px;
  height: 119px;
  font-size: 50px;
}
.time-hour{
  position: absolute;
  top: 0;
  left: 0;
}
.time-slash{
  font-size:200px;
  position: absolute;
  bottom: 0;
  left: 75px;
}
.time-min{
  position: absolute;
  bottom: 0;
  right: 0;
}
.header-text-action{
  text-align: center;
  text-shadow: 0 5px 13px #070707, 0 0 32px rgba(13, 13, 13, 0.49);
  color: #fdf9f9;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 90px 0 40px;
}
.header-action{
  width: 230px;
  height: 43px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfbfb;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.staff{
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-block{
  width: 1140px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staff-block-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 330px;
}
.staff-block-item p{
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
}
span{
  font-weight: 400;
  color: #228dfc;
}
.staff-block-text{
  text-align:center;
}
.staff-border{
  width: 1px;
height: 150px;
background-color: #b9b9b9;
}
.staff-button{
  width: 130px;
  height: 43px;
  border: 1px solid #228dfc;
  background: transparent;
  color: #228dfc;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3{
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.h3-span{
  font-weight: 300;
  color: #1a1a1a;
}
.remark{
  margin-top: 85px;
  color: #404040;
font-size: 18px;
font-weight: 300;
line-height: 45px;
}
.business{
  display: flex;
}
.business-img{
  width: 50%;
  height: 680px;
  background: url(../img/working.png) center top no-repeat;
}
.business-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 80px;
  width: 550px;
}
.business-plan{
  width: 277px;
  background-color: #228dfc;
  color: #fdfeff;
}
.business-ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.business-ul>li{
  list-style-image: url(/img/list_style_type.png);
}
.business-ul{
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
}
.business-consultation{
  width: 277px;
}
.call-center-h3{
  text-align: center;
}
.call-center{
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.call-center-main{
  width: 1100px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.call-center-advantages-one{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.call-center-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-center-text,.call-center-people-text{
  margin-top: 20px;
  color: #191919;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  width: 277px;
}
.call-center-works-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-center-works{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.call-center-advantages-two{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numbers{
  display: flex;
  justify-content: center;
  background: url(../img/black-white.png) no-repeat;
  height: 250px;
  background-color: rgba(20, 20, 20, 0.6);
}
.numbers-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.numbers-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 115px;
}
.numbers-item-title{
  color: #228dfc;
  font-size: 60px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.numbers-item-subtitle{
  width: 162px;
  color: #fdfdfe;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.numbers-border{
  width: 1px;
  height: 70px;
  background-color: #ffffff;
}
.l-arrow {
  z-index: 1;
  margin-right: 10px;
}

.r-arrow {
  margin-left: 10px;
  z-index: 1;
}

.r-arrow,.l-arrow{
  background:none;
  border:none;
  cursor:pointer;
}
.r-arrow:active,.l-arrow:active,.r-arrow:focus,.l-arrow:focus{
  outline: none;
}
.partners{
  height: 350px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
}
.carousel{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.free{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #228dfc;
}
.free-main{
  width: 1140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.free-text{
  color: #191919;
  text-transform: initial;
}
.free-consultation{
  border: 1px solid #fff;
  color: #fff;
  width: 277px;
}
.WHITE{
  color:#fff;
  text-transform: uppercase;
}
.review{
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.review-block{
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.review-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  padding: 0 20px;
}
.review-text-title{
  color: #228dfc;
font-size: 18px;
font-weight: 400;
margin: 20px 0;
text-align: center;
}
.review-text-subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e1e1e;
font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: center;
}
.review-item img{
  margin: 0 auto;
}