/* font-family: 'Open Sans', sans-serif; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Open Sans';
}
a{
  text-decoration: none;
}
button{
  background: transparent;
  border:none;
}
header{
  height: 680px;
  display: flex;
  flex-direction:column;
  align-items: center;
  background: url(../img/Header-main.png) center center no-repeat;
}
nav{
  width: 1140px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav>ul{
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav li{
  list-style-type: none;
}
.header-link{
  color: #fbf9f9;
font-size: 16px;
font-weight: 300;
text-transform: uppercase;
/* Text style for "главная" */
letter-spacing: 0.16px;
}
h2{
  color: #fdfafa;
font-size: 43px;
font-weight: 300;
line-height: 106.67px;
text-transform: uppercase;
margin-top: 40px;
}
h1{
  margin-top: -30px;
  color: #228dfc;
  font-size: 101px;
  font-weight: 400;
  letter-spacing: -1.7px;
  display: flex;
  align-items: flex-end;
  width: 576px;
  justify-content: space-between;
}
.h2-img{
  height: 119px;
}
.time{
  position: relative;
  width: 165px;
  height: 119px;
  font-size: 50px;
}
.time-hour{
  position: absolute;
  top: 0;
  left: 0;
}
.time-slash{
  font-size:200px;
  position: absolute;
  bottom: 0;
  left: 75px;
}
.time-min{
  position: absolute;
  bottom: 0;
  right: 0;
}
.header-text-action{
  text-align: center;
  text-shadow: 0 5px 13px #070707, 0 0 32px rgba(13, 13, 13, 0.49);
  color: #fdf9f9;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  margin: 90px 0 40px;
}
.header-action{
  width: 230px;
  height: 43px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fcfbfb;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.staff{
  height: 680px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-block{
  width: 1140px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.staff-block-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 330px;
}
.staff-block-item p{
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
}
span{
  font-weight: 400;
  color: #228dfc;
}
.staff-block-text{
  text-align:center;
}
.staff-border{
  width: 1px;
height: 150px;
background-color: #b9b9b9;
}
.staff-button{
  width: 130px;
  height: 43px;
  border: 1px solid #228dfc;
  background: transparent;
  color: #228dfc;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3{
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.h3-span{
  font-weight: 300;
  color: #1a1a1a;
}
.remark{
  margin-top: 85px;
  color: #404040;
font-size: 18px;
font-weight: 300;
line-height: 45px;
}
.business{
  display: flex;
}
.business-img{
  width: 50%;
  height: 680px;
  background: url(../img/working.png) center top no-repeat;
}
.business-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 80px;
  width: 550px;
}
.business-plan{
  width: 277px;
  background-color: #228dfc;
  color: #fdfeff;
}
.business-ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.business-ul>li{
  list-style-image: url(../img/list_style_type.png);
}
.business-ul{
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 300;
  line-height: 45px;
}
.business-consultation{
  width: 277px;
}
.call-center-h3{
  text-align: center;
  width: 684px;
}
.call-center{
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.call-center-main{
  width: 1100px;
  height: 500px;
  display: flex;
  justify-content: space-between;
}
.call-center-advantages-one{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.call-center-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-center-text,.call-center-big-text,.call-center-people-text{
  margin-top: 20px;
  color: #191919;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  width: 277px;
}
.call-center-big-text{
  width: 277px;
}
.call-center-works-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.call-center-works{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.call-center-advantages-two{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.numbers{
  display: flex;
  justify-content: center;
  background: url(../img/black-white.png) no-repeat;
  height: 250px;
  background-color: rgba(20, 20, 20, 0.6);
}
.numbers-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}
.numbers-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 115px;
}
.numbers-item-title{
  color: #228dfc;
  font-size: 60px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.numbers-item-subtitle{
  width: 162px;
  color: #fdfdfe;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}
.numbers-border{
  width: 1px;
  height: 70px;
  background-color: #ffffff;
}
.l-arrow {
  z-index: 1;
  margin-right: 10px;
}

.r-arrow {
  margin-left: 10px;
  z-index: 1;
}

.r-arrow,.l-arrow{
  background:none;
  border:none;
  cursor:pointer;
}
.r-arrow:active,.l-arrow:active,.r-arrow:focus,.l-arrow:focus{
  outline: none;
}
.partners{
  height: 350px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
}
.carousel{
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.free{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #228dfc;
}
.free-main{
  width: 1140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.free-text{
  color: #191919;
  text-transform: initial;
}
.free-consultation{
  border: 1px solid #fff;
  color: #fff;
  width: 277px;
}
.WHITE{
  color:#fff;
  text-transform: uppercase;
}
.review{
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.review-block{
  width: 1100px;
  display: flex;
  justify-content: space-between;
}
.review-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  padding: 0 20px;
}
.review-text-title{
  color: #228dfc;
font-size: 18px;
font-weight: 400;
margin: 20px 0;
text-align: center;
}
.review-text-subtitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1e1e1e;
font-size: 14px;
font-weight: 300;
line-height: 22px;
text-align: center;
}
.review-item img{
  margin: 0 auto;
}
.contact{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.contact-img{
  width: 50%;
  height: 500px;
  background-color: rgba(17, 17, 17, 0.15); 
  background: url(../img/call-center-pre-footer.png) no-repeat;
}
.contact-action{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 305px;
  margin-right: 100px;
}
.contact-block-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-text{
  color: #228dfc;
font-size: 16px;
font-weight: 300;
line-height: 36px;
text-transform: uppercase;
}
.contact-input-block{
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}
.contact-input-item{
  color: #6d6e6e;
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #b9b9b9;
}
.contact-buy{
  width: 250px;
  background-color: #228dfc;
  color: #fdfeff;
}
.team{
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.team-block{
  width: 1140px;
  display: flex;
  justify-content: space-between;
}
.figure-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.figure-item-text{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.figure-text-title{
  text-transform: initial;
}
.figure-text-subtitle{
  color: #228dfc;
  font-size: 18px;
  font-weight: 300;
  line-height: 36px;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3e3e3;
}
.footer-main{
  display: flex;
  justify-content: space-between;
  width: 1170px;
  align-items: center;
}
.footer-action{
  width: 440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-number{
  color: #228dfc;
  font-size: 18px;
  font-weight: 400;
}
.footer-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 43px;
  border: 1px solid #228dfc;
  background: transparent;
}

.menu-link{
  display:none;
  width: 60px;
  height: 30px;
  border:none;
  background: transparent;
  margin-right: 20px;
  border:none;
  position: relative;
  z-index: 99;
}
.menu-link span,
.menu-link span:before,
.menu-link span:after {
display: block;
height: 2px;
width: 60px;
background-color: #fff;
position: absolute;
top: 50%;
}

.menu-link span:before {
transition: all 0.2s;
content: '';
margin-top: -12px;
}

.menu-link span:after {
transition: all 0.2s;
content: '';
margin-top: 12px;
}

.menu-link-active span {
background: transparent;
}

.menu-link-active span:before {
transform: rotate(135deg);
margin-top: 0;
}

.menu-link-active span:after {
transform: rotate(-135deg);
margin-top: 0;
}
.scroll{
  overflow:hidden;
}


.modal{
  top:0;
  display: none;
  width: 100%;
  height: 100%;
  transition: all 1s;
  position: fixed;
  background: rgba(0,0,0,.9);
  justify-content: center;
  align-items: center;
}
.modal-active{
  display: flex;
}
.modal-h3{
width: 120px;
}

.modal-main{
  background:white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-main-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.border-modal{
  width: 70px;
  height: 1px;
  background: rgb(128,128,134);
}
.modal-main-background{
  background:white;
  width: 320px;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.modal input[placeholder] {
  text-align: center;
}
.modal-text{
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  margin: 20px 0;
}
.modal-blue{
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  width: 100px;
  height: 40px;
  border-radius: 10px;
}
.modal-white{
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#000;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  border:1px solid #000;
}
.modal-click{
  width: 100%;
}  
    

@media (max-width: 1170px){
  .menu-link{
    display: block;
  }
  .navbar{
    display: flex;
    width: 100%;
    position: fixed;
    height: 100%;
    top:0;
    right:-100%;
    transition: all 2s;
    flex-direction: column;
    align-items: center;
    background: rgba(0,0,0,.9);
    justify-content: space-evenly;
    z-index: 3;
  }
  .hamburger-navbar{
    right:0;
  }
  nav{
    width: 100%;
  }
  h1{
    width: 530px;
  }
  .h2-img{
    height: 100px;
  }
  .staff{
    height: auto;
  }
  .staff-block{
    margin-top: 50px;
    width: 550px;
    flex-wrap: wrap;
    height: 750px;
    justify-content: space-evenly;
  }
  .staff-border-none-1{
    display: none;
  }
  .remark{
    margin: 50px 5%;
    text-align: center;
  }
  .business{
    flex-direction: column;
    align-items: center;
  }
  .business-information{
    height: 680px;
    width: auto;
    margin-left: 0;
  }
  .business-img{
    width: 100%;
  }
  .call-center{
    height: auto;
  }
  .call-center-main{
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .call-center-works{
    order:1;
    margin: 30px 0;
  }
  .call-center-text{
    width: auto;
  }
  .call-center-h3{
    width: auto;
    margin: 50px 0;
  }
  .call-center-figure{
    flex: 1 1;
  }
  .call-center-advantages-two{
    flex-direction: row;
    width: 530px;
  }
  .call-center-advantages-one{
    flex-direction: row;
    margin: 50px auto;
  }
  .call-center-big-text{
    width: 260px;
  }
  .numbers-item{
    margin-top: 10px;
    height: auto;
  }
  .numbers-main{
    width: 400px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .free-main{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .carousel{
    width: 300px;
    display: flex;
    justify-content: center;
  }
  .review-text-subtitle{
    width: 313px;
  }
  .review-block{
    width: 400px;
  }
  .contact{
    flex-direction: column-reverse;
  }
  .contact-action{
    margin-right: 0;
    margin-top: 50px;
  }
  .team{
    width: auto;
    height: auto;
  }
  .team-block{
    width: 550px;
    height: 900px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .contact-img{
    width: 100%;
    height: 500px;
    background-color: rgba(17, 17, 17, 0.15); 
    background: url(../img/call-center-pre-footer.png) center center no-repeat;
  }
  .team>h3{
    margin: 50px 0;
  }
  .footer-main{
    width: 100%;
    padding: 0 5%;
  }
  .footer-action{
    width: auto;
    height: 100px;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .free-text{
    text-align: center;
  }
  .header-link {
    font-size: 24px;
    font-weight: 400;
  }
}
@media (max-width: 1050px){
  .contact-img{
    width: 100%;
    height: 500px;
    background-color: rgba(17, 17, 17, 0.15); 
    background: url(../img/call-center-pre-footer.png) left center no-repeat;
  }
}
@media (max-width: 576px){
  h2{
    font-size:24px;
  }
  .h2-img {
    height: 80px;
  }
  h1 {
    width: 300px;
    font-size:50px;
  }
  .staff-block{
    margin-top: 0;
    flex-direction:column;
    height: auto;
    width: auto;
  }
  .staff-block-item{
    margin-top: 50px;
  }
  h3{
    text-align: center;
  }
  .business-information{
    margin: 50px 0;
    height: auto;
  }
  .business-plan{
    margin: 50px 0;
  }
  .business-ul{
    margin: 50px 0;
    padding-left:40px;
    font-size: 20px;
  }
  .call-center-figure{
    width: 250px;
  }
  .call-center-advantages-one {
    flex-direction: column;
    margin: 0;
  }
  .call-center-advantages-two {
    flex-direction: column;
    width: auto;
  }
  .call-center-figure{
    margin-bottom: 20px;
  }
  .numbers-main{
    justify-content: space-evenly;
  }
  .numbers-item{
    width: 150px;
  }
  .numbers-item-subtitle {
    width: 150px;
    font-size: 17px;
  }
  .review{
    height: 700px;
  }
  .review-block,.review-item,.review-text-subtitle{
    width: 300px;
  } 
  .team-block{
        height: auto;
        flex-direction: column;
        width: auto;
  }
  .figure-item{
    height: 420px;
  }
  .footer-main{
    flex-direction: column;
  }
  .call-center-img{
    width: 270px;
  }
  .header-nav-img{
    width: 200px;
  }
  .display-none-mobile{
    display: none;
  }
}